<p class="tasks-unfinished">{{STRINGS.TASKS_UNFINISHED}}: {{tasksUnfinished}}</p>
<p class="tasks-finished">{{STRINGS.TASKS_FINISHED}}: {{tasksFinished}}</p>
<p class="tasks-total">{{STRINGS.TASKS_TOTAL}}: {{tasksList.length}}</p>