<label class="checkbox-container">
    {{input 
        type='checkbox' 
        checked=(mut (get task "done")) 
        change=(action "toggleDoneProperty")
        disabled=isEditing}}
    <span class="checkmark"></span>
</label>
{{#if isEditing}}
    {{input 
        type="text" 
        class="item-text"
        id="item-name"
        autofocus="true"
        maxlength=32
        required="true"
        pattern=validationRegex
        enter="onEditEnter" 
        value=task.name
        escape-press="cancelEdit"}}
{{else}}
    <p class="item-text {{if task.done "done"}}" {{action "toggleEditProperty"}}><b>{{add itemIndex 1}}.</b> {{task.name}}</p>
{{/if}}
<button class="item-delete" {{action "deleteItemClicked" task.id}}>X</button>